.loadingAnim{
    height: 100vh;
    width: 100%!important;
    object-fit: cover;
    position: fixed!important;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1300;
}
.loadingEnd{
    display: none;
}
.loadingOpacity{
    opacity: 0;
    transition: 0.5s;
}

/* Weather App */
body{
    margin: 0;
    height: 100vh;
    background: #e4ebf5!important;
  }
  .womanAnim{
    height: calc(100vh - 24px)!important;
    width: 100%!important;
    object-fit: cover;
    position: relative;
  }
  .womanAnim video{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    position: relative;
  }
  .weatherNav{
    height: calc(100% - 20px);
    margin: 10px 10px 0;
    border-radius: 3px;
    background-color: #ffffffe7;
    color: #146E9D;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 25px;
    z-index: 2;
  }
  .inputTxt{
    width: 100%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    background: rgba(255, 255, 255, 0.800);
  }
  input.btn-radius-solid {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#146E9D), to(#40eefe));
    background-image: -webkit-linear-gradient(left, #146E9D 0%, #40eefe 100%);
    background-image: linear-gradient(to right, #146E9D 0%, #40eefe 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    transition: 0.6s;
    width: 100%;
    margin-top: 5px;
  }
  input.btn-radius-solid:hover {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    color: #fff;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
  }
  .EffectAnim{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .EffectAnim video{
    width: auto!important;
    height: 100%!important;
    mix-blend-mode: screen;
  }
  .Clear.EffectAnim{
    top: -250px;
    left: -500px;
    height: 110vh!important;
    object-fit: cover;
  }
  .Clouds{
    top: -460px;
  }
  .Clouds video{
    mix-blend-mode: unset;
  }
  .Rain.EffectAnim{
    height: calc(100vh - 24px)!important;
  }
  .Rain video{
    margin-top: -30px;
    margin-left: -40px;
  }
  .fadeInEffect .EffectAnim{
    display: block;
  }
  .weatherTopNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .weatherNav button{
    background: white;
    position: absolute;
    top: 0;
    left : -70px;
    padding: 5px 0;
    font-size: 2rem;
  }
  .MuiSvgIcon-root{
    font-size: 2rem!important;
  }
  .btnStyle{
    background: #ffffffa3!important;
  }
  .closeBtn{
    position: absolute;
    top: 0;
    left: -34px;
    width: auto!important;
    color: white;
    cursor: pointer;
  }
  .closeBtn span{
    width: auto!important;
  }
  .closeNav{
    margin-right: -325px;
    transition: 1s;
  }
  .openNav{
    margin-right: 10px;
    transition: 1s;
  }
  .openNav button{
    left: 0;
    transition: 0.5s;
  }
  .closeNav button{
    left: -70px;
    transition: 0.5s;
  }
  .noneBtn{
    display: none!important;
  }
  .toggleDrawer{
    position: relative;
  }
  .MuiDrawer-paper{
    overflow-y: initial!important;
  }
  .MuiBackdrop-root{
    background: rgba(0, 0, 0, 0)!important;
  }
  .cityName{
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 1;
    font-size: 5rem;
  }
  .App {
    height: calc(100vh - 110px);
    position: relative;
    overflow: hidden;
  }
  header{
      background: unset!important;
  }
  .cardDecoNone{
    background-color: unset!important;
    box-shadow: unset!important;
  }
  .sectionTop{
    margin-top: 100px;
  }
  .drawerSidebar > div{
    border-right: unset!important;
    background-color: unset!important;
  }
  .CardSidebar{
    border-radius: 0!important;
    height: 100%;
  }
  .MuiContainer-root, .css-1i9b2p2 {
    background-color: #e4ebf5!important;
  }
  .css-1fryyk0{
    padding-bottom: 0;
  }
  /* .css-tne6ne-MuiButtonBase-root-MuiButton-root{
    color: #00f2fe;
    background: -webkit-linear-gradient(0deg, #2575fc, #00f2fe, #15ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  .css-tne6ne-MuiButtonBase-root-MuiButton-root{
    color: #07ccd6!important;
  }
  .weatherNav h1{
    margin-top: 10px;
  }